
h2{
  width: 100%;
}

h2, h3{
  text-align: center;
}

.active, a:hover {
  background-color: #333;
  color: #fff;
}


img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold
}

/* HOME */
#home section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  width: 250px;
}

